@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  background: rgb(53, 169, 208);
  background: linear-gradient(90deg, rgba(53, 169, 208, 1) 0%, rgba(24, 126, 169, 1) 35%, rgba(0, 212, 255, 1) 100%), url('../Site/fundo3.png');

  flex-direction: column;

}

.a {
  display: flex;
  flex-direction: column;
  margin-top: -48px;
}

.tela {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.voltar{
  font-size: 1.2em;
  padding: 0.5em 2em;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 2em;
  cursor: pointer;
  margin-top: 5px;
}

.voltarInicio {
  font-size: 1em;
  padding: 0.7em 1em;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: -195px;
  margin-top: 18px;

}

.wrapper {
  position: absolute;
  width: 90%;
  max-width: 37em;
  background-color: #ffffff;
  padding: 3em 3em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  border-radius: 1em;
  margin-top: 20px;
}

#result {
  color: #ffff;
  font-size: 2em;
  margin-bottom: -48px;
}

.controls-container {
  background: rgb(53, 169, 208);
  background: linear-gradient(90deg, rgba(53, 169, 208, 1) 0%, rgba(24, 126, 169, 1) 35%, rgba(0, 212, 255, 1) 100%), url('../Site/fundo3.png');

  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
}

#start {
  font-size: 1.2em;
  padding: 1em 98px;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 2em;
  cursor: pointer;
}

#letter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em 0.4em;
  justify-content: center;
  margin-top: 2em;
}

#letter-container button {
  background-color: #ffffff;
  border: 2px solid rgb(53, 169, 208);
  color: rgb(53, 169, 208);
  outline: none;
  border-radius: 0.3em;
  cursor: pointer;
  height: 3em;
  width: 3em;
}

#letter-container .correct {
  background-color: #008000;
  color: #ffffff;
  border: 2px solid #008000;
}

#letter-container .incorrect {
  background-color: #8a8686;
  color: #ffffff;
  border: 2px solid #8a8686;
}

.hint-ref {
  margin-bottom: 1em;
}

.hint-ref span {
  font-weight: 600;
}

#chanceCount {
  margin: 1em 0;
  position: absolute;
  top: 0.62em;
  right: 2em;
}

#word {
  font-weight: 600;
  margin: 4em 0 1em 0;
  color: #ffffff;
  font-size: 17px;
}

#word span {
  text-transform: uppercase;
  font-weight: 400;
}

.hide {
  display: none;
}