body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #71dfee;
    background: linear-gradient(to bottom right, #f1f7ff, #d3fff8);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background: linear-gradient(to top right, #0066ff, #105ec4);
    border-bottom: 3px solid #ebf3ff;
    height: 13vh;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container {
    justify-content: space-between;
}

.titulo {
    color: #ffffff;
    font-weight: 600;

}

.logo {
    padding: 20px;
}

.principal {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.navbar {
    color: #ffffff;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;


}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.conteudo {
    background: linear-gradient(to bottom right, #c0d2ec, #dbdbdb);
    /* background-color: #71dfee; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inicio1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inicio2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.continentes{
    margin: 30px;
    height: 40vh;
    width: 20vw;
    background-color: rgb(197, 216, 235);
    display: flex;
    justify-content: start;
    border: 2px solid #0066ff; /* Cor da borda */
    border-radius: 18px;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
}

.continentes:hover{
    transform: scale(1.1);
}

.cardimg{
    margin-top: 20px;
    width: 160px;
    height: 160px;
    
}

.botaoGraficos {
    border: 1px solid #0066ff;
    border-radius: 10px;
    background: linear-gradient(to bottom right, rgba(4, 82, 199, 0.5), rgba(113, 223, 238, 0.5));
    cursor: pointer;
    color: #0011a7;
  }

h5{
    color: #0066ff;
}
  

.footer {
    border-top: 3px solid #ffffff;
    width: 100%;
    height: 8vh;
    color: #ffffff;
    background: linear-gradient(to top right, #0066ff, #105ec4);
    font-weight: 600;
} 

.footercontinentes {
    border-top: 3px solid #fcfdff;
    width: 100%;
    height: 8vh;
    color: #ffffff;
    background: linear-gradient(to top right, #0066ff, #105ec4);
    font-weight: 600;
    margin-top: -100px;
} 



.footerp {
    display: flex;
    justify-content: center;
}

/* FIM Pagina inicial */

.conteudosobre{
    background: linear-gradient(to bottom right, #c0d2ec, #dbdbdb);
    /* background-color: #71dfee; */
    width: 100%;
    height: 83vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.empresa{
    color: #0066ff;
    justify-content: start;
    margin: 30px;
}

.imgsobre{
    width: 300px;
    height: 300px;
    float: right;
    margin-left: 10px;
    margin-bottom: 20px;

}

h2{
    font-size: 20px;
}
p{
    font-size: 15px;
    padding: 7px;
}

/* FIM PAGINA SOBRE */

.contato{
    color: #0066ff;
    justify-content: center;
    margin: 30px;
    
}

.tituloh2{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.pcontato{
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: center;
}

.conteudocontato{
    background: linear-gradient(to bottom right, #c0d2ec, #dbdbdb);
    /* background-color: #71dfee; */
    width: 100%;
    height: 114vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.form{
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: center;
}
.esquerda{
    width: 500px;
    height: 500px;
    background-color: rgb(197, 216, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0066ff; /* Cor da borda */
    border-radius: 18px;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.direita{
    width: 500px;
    height: 500px;
    background-color: rgb(197, 216, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0066ff; /* Cor da borda */
    border-radius: 18px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    color: #0066ff;
  }
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #0066ff;
    box-sizing: border-box;
  }
  input[type="submit"] {
    background: linear-gradient(to top left, #66d843, #4cf719);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #14ad1c;
  }

/* FIM PAGINA CONTATO */

.conteudograf{
    background: linear-gradient(to bottom right, #c0d2ec, #dbdbdb);
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    flex: 1;
    
}

.chart{
    margin-inline: 40px;
}

.grafico{
    width: 85vw;
    height: 40vh;
    justify-content: center;
    display: flex;
   
}

.titulograf{
    color: #0066ff;
}


.Países{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    flex: 1;
}

.cardp{
    background-color: rgb(197, 216, 235);
    width: 300px;
    height: 150px;
    margin: 0.8%;
    border: 2px solid #0066ff; /* Cor da borda */
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.cardp:hover{
    transform: scale(1.1);
}

.informacoes{
    display: flex;
    flex-direction: column;
    
}
.País{
    color: #0066ff;
}
.capital{
    color: #0066ff;
}
.bandeira{
    width: 130px;
    height: 80px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
