body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #71dfee;
    background: linear-gradient(to bottom right, #f7f7f7, #d3fff8);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background: rgb(48,170,210);
    background: linear-gradient(90deg, rgba(48,170,210,1) 0%, rgba(51,186,242,1) 40%, rgba(0,212,255,1) 100%);
    border-bottom: 3px solid #ebf3ff;
    height: 13vh;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container {
    justify-content: space-between;
}

.titulo {
    color: #ffffff;
    font-weight: 600;

}

.logo {
    padding: 20px;
}

.principal {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.navbar {
    color: #ffffff;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navbarinicio {
    color: #ffffff;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.conteudo {
    background: rgb(53,169,208);
    background: linear-gradient(90deg, rgba(53,169,208,0.5) 0%, rgba(24,126,169,0.5) 35%, rgba(0,212,255,0.5) 100%), url('../Site/fundo3.png');
     width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center -150px;
}

.conteudoinicio {
    background: rgb(53,169,208);
    background: linear-gradient(90deg, rgba(53,169,208,0.5) 0%, rgba(24,126,169,0.5) 35%, rgba(0,212,255,0.5) 100%), url('../Site/fundo3.png');
     width: 100%;
    height: 78.1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center -150px;
}

.conteudocadastro {
    background: rgb(53,169,208);
    background: linear-gradient(90deg, rgba(53,169,208,0.5) 0%, rgba(24,126,169,0.5) 35%, rgba(0,212,255,0.5) 100%), url('../Site/fundo3.png');
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center -150px;
}



.cadastro {
    width: 39vw;
    height: 76vh;
    background-color: rgb(197, 216, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0066ff;
    border-radius: 18px;
}

.conteudologin {
    /* background: linear-gradient(to top rgb(24,126,169, 0.5), rgb(53,169,208,0.5)), url('../Site/fundo3.png'); */
    background: rgb(53,169,208);
    background: linear-gradient(90deg, rgba(53,169,208,0.5) 0%, rgba(24,126,169,0.5) 35%, rgba(0,212,255,0.5) 100%), url('../Site/fundo3.png');
    /* background-image: url('../Site/fundo3.png'); */
    width: 100%;
    height: 78.1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center -150px;
}

.login {
    width: 39vw;
    height: 36vh;
    background-color: rgb(197, 216, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0066ff;
    border-radius: 18px;
}

.enviarlogin{

        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        margin-top: 5px;
}

.chamar {
    font-size: 30px;
    color: #0066ff;
}

.cadastrar {
    width: 30%;
    height: 10%;
    background-color: #0066ff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
}

.cadastrar:hover {
    background-color: #4693ff;
}

.btncomecar {
    width: 100%;
    height: 100%;
    background-color: #0066ff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
}

.btncomecar:hover {
    background-color: #4693ff;
}



.inicio1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inicio2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.continentes {
    margin: 30px;
    height: 40vh;
    width: 20vw;
    background-color: rgb(197, 216, 235);
    display: flex;
    justify-content: start;
    border: 2px solid #30aad2;
    border-radius: 18px;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
}

.continentes:hover {
    transform: scale(1.1);
}

.cardimg {
    margin-top: 20px;
    width: 160px;
    height: 160px;

}

.botaoGraficos {
    border: 1px solid #30aad2;
    border-radius: 10px;
    background-color: #8fe2de;
    cursor: pointer;
    color: #304d4d;
}

h5 {
    color: #1d6d92;
}


.footer {
    border-top: 3px solid #ffffff;
    width: 100%;
    height: 8vh;
    color: #ffffff;
    background: rgb(48,170,210);
background: linear-gradient(90deg, rgba(48,170,210,1) 0%, rgba(51,186,242,1) 40%, rgba(0,212,255,1) 100%);
    font-weight: 600;
}

.footercontinentes {
    border-top: 3px solid #fcfdff;
    width: 100%;
    height: 8vh;
    color: #ffffff;
    background: rgb(48,170,210);
background: linear-gradient(90deg, rgba(48,170,210,1) 0%, rgba(51,186,242,1) 40%, rgba(0,212,255,1) 100%);
    font-weight: 600;
    margin-top: -100px;
}



.footerp {
    display: flex;
    justify-content: center;
}

/* FIM Pagina inicial */

.conteudosobre {
    background: rgb(53,169,208);
    background: linear-gradient(90deg, rgba(53,169,208,0.5) 0%, rgba(24,126,169,0.5) 35%, rgba(0,212,255,0.5) 100%), url('../Site/fundo3.png');
     width: 100%;
    height: 83vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    background-position: center -150px;
}

.empresa {
    color: #ffffff;
    justify-content: start;
    margin: 30px;
}

.imgsobre {
    width: 300px;
    height: 300px;
    float: right;
    margin-left: 10px;
    margin-bottom: 20px;

}

h2 {
    font-size: 20px;
}

p {
    font-size: 15px;
    padding: 7px;
}

/* FIM PAGINA SOBRE */

.contato {
    color: #ffffff;
    justify-content: center;
    margin: 30px;

}

.tituloh2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.pcontato {
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: center;
}

.conteudocontato {
    background: rgb(53,169,208);
    background: linear-gradient(90deg, rgba(53,169,208,0.5) 0%, rgba(24,126,169,0.5) 35%, rgba(0,212,255,0.5) 100%), url('../Site/fundo3.png');
     width: 100%;
    height: 114vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    background-position: center -150px;
}

.form {
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: center;
}

.formcadastro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 98%;
    margin-top: 15px;
}

.formlogin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 98%;
    margin-top: 25px;
}

.esquerda {
    width: 500px;
    height: 500px;
    background-color: rgb(197, 216, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0066ff;
    border-radius: 18px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 98%;
}

.direita {
    width: 500px;
    height: 500px;
    background-color: rgb(197, 216, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0066ff;
    border-radius: 18px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #0066ff;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #0066ff;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #0066ff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
}

input[type="submit"]:hover {
    background-color: #4693ff;
}

.enviar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.enviarcadastro{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    margin-top: 5px; 
}

/* FIM PAGINA CONTATO */

.conteudograf {
    background: rgb(53,169,208);
    background: linear-gradient(90deg, rgba(53,169,208,0.5) 0%, rgba(24,126,169,0.5) 35%, rgba(0,212,255,0.5) 100%), url('../Site/fundo3.png'); width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    flex: 1;
    background-size: cover;
    background-position: center -150px;

}

.chart {
    margin-inline: 40px;
}

.grafico {
    width: 85vw;
    height: 40vh;
    justify-content: center;
    display: flex;

}

.titulograf {
    color: #ffffff;
}


.Países {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    flex: 1;
}

.cardp {
    background-color: rgb(197, 216, 235);
    width: 300px;
    height: 150px;
    margin: 0.8%;
    border: 2px solid #30aad2;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.cardp:hover {
    transform: scale(1.1);
}

.informacoes {
    display: flex;
    flex-direction: column;

}

.País {
    color: #0066ff;
}

.capital {
    color: #0066ff;
}

.bandeira {
    width: 130px;
    height: 80px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
